{% extends "layout.html" %}

{% block content %}
<style>
    .container_brand-custom {
  height: 30vh;
  width: 100%;


}

.message-container {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

</style>
<div class="container_brand-custom">
  <div class="message-container">
    {% include "_messages.html" %}
    {% if brands %}
    <h1>Add a {{ brands }}</h1>
    <form action="" method="POST">
      <input type="text" name="brand" class="form-control" />
      <input type="submit" value="Add Brand" class="btn btn-primary" />
    </form>
    {% else %}
  </div>
</div>
<div class="container_brand-custom">
  <h1>Add a Category</h1>
  <form action="" method="POST">
    <input type="text" name="category" class="form-control" />
    <input type="submit" value="Add Category" class="btn btn-primary" />
  </form>
  {% endif %}
</div>
{% endblock content %}