{% extends 'layout.html' %} {% block content %}
<section class="container py-5">
  <div class="container">
    <div class="row">
      {% if brand %} {% for b in brand%}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img
            src="{{url_for('static', filename='images/' + b.image_1)}}"
            class="card-img-top"
            alt="{{b.name}}"
            height="200"
            width="300"
          />
          <div class="card-body"></div>
          {%if b.discount > 0%}
          <h5
            style="text-shadow: 1px 1px 2px #000; color: #f00; position: bottom"
          >
            Discount {{b.discount}} %
          </h5>
          {%endif%}
          <h5 class="text-center">{{b.name}}</h5>
          <p class="text-center">Price ${{b.price}}</p>
          <div class="card-footer">
            <a
              href="{{url_for('single_page', id=b.id)}}"
              class="float-left btn btn-sm btn-primary"
            >
              Details</a
            >
            <a href="#" class="float-right btn btn-sm btn-primary">
              Add to cart</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {%elif get_cat_prod%} {% for get_cat in get_cat_prod %}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img
            src="{{url_for('static', filename='images/' + get_cat.image_1)}}"
            class="card-img-top"
            alt="{{get_cat.name}}"
            height="200"
            width="200"
          />
          <div class="card-body"></div>
          {%if get_cat.discount > 0%}
          <h5
            style="text-shadow: 1px 1px 2px #000; color: #f00; position: bottom"
          >
            Discount {{get_cat.discount}} %
          </h5>
          {%endif%}
          <h5 class="text-center">{{get_cat.name}}</h5>
          <p class="text-center">Price ${{get_cat.price}}</p>
          <div class="card-footer">
            <a
              href="{{url_for('single_page', id=get_cat.id)}}"
              class="float-left btn btn-sm btn-primary"
            >
              details</a
            >
            <a href="#" class="float-right btn btn-sm btn-primary">
              Add to cart</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %} {% for product in products%}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img
            src="{{url_for('static', filename='images/' + product.image_1)}}"
            class="card-img-top"
            alt="{{product.name}}"
            height="200"
            width="200"
          />
          <div class="card-body"></div>
          {%if product.discount > 0 %}
          <h5
            style="text-shadow: 1px 1px 2px #000; color: #f00; position: bottom"
          >
            Discount {{product.discount}} %
          </h5>
          {%endif%}
          <h5 class="text-center">{{product.name}}</h5>
          <p class="text-center">Price ${{product.price}}</p>
        </div>
        <div class="card-footer">
          <a
            href="{{url_for('single_page', id=product.id)}}"
            class="float-left btn btn-sm btn-primary"
            >Details</a
          >
          <!--          <a href="#" class="float-right btn btn-sm btn-primary"> Add to cart</a>-->
          <form action="{{url_for('addproduct')}}" method="POST">
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <button type="submit" class="btn btn-sm btn-warning float-right">
              Add to Cart
            </button>
            <input
              type="hidden"
              name="quantity"
              value="1"
              min="1"
              max="{{product.stock}}"
            />
            {% set colors = product.colors.split(',') %}
            <select name="colors" id="colors" style="visibility: hidden">
              {% for color in colors %} {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
