{% extends 'layout.html' %} 
{% block content %}
<html>
<head>
<style>
  .card{
    overflow: hidden;
background-color: #fbfbfb;
border: none;
border-radius: 5px 5px 0 0;
  }
  .card img{
    transition: all 0.3s ease;
    filter: sepia(50%);
    margin-bottom: 0.5rem;
  }
  .card img:hover{
filter : none;
transform : scale(1.08)
  }
  .card-footer{

    background-color: white;
    height: 60px;
  }

</style>
</head>
<body style="background-color: #000;">


<section class="container py-5">
  <div class="container">
    <div class="row">
      {% for product in products%}
      <div class="col-md-3 mt-3" >
        <div class="card">
          <img
            src="{{url_for('static', filename='images/' + product.image_1)}}"
            class="card-img-top"
            alt="{{product.name}}"
            height="200"
            width="200"

          />
         
          {% if product.discount > 0 and product.discount_expiration > current_date %}
          <h5
            style="text-shadow: 1px 1px 2px #000; color: #f00; position: bottom; text-align: center;margin: 0.3rem;"
          >
            🎉 Discount {{product.discount}} % 🎊
          </h5>
          {% endif %}
          <h5 class="text-center" style="font-size: 15px; font-weight: bold;">{{product.name}}</h5>
          <p class="text-center" style="color: teal">Price ${{product.price}}</p>
        </div>
        <div class="card-footer">
          <a
            href="{{url_for('single_page', id=product.id)}}"
            class="float-left btn btn-sm btn-primary"
            >Details</a
          >

          <form action="{{url_for('AddCart')}}" method="POST">
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <button type="submit" class="btn btn-sm btn-warning float-right" style="color: white;" >
              Add to Cart
            </button>
            <input
              type="hidden"
              name="quantity"
              value="1"
              min="1"
              max="{{product.stock}}"
            />
            
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
</body>
</html>
{% endblock content %}
