{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row col-md-6">
    {% include "_messages.html" %} {% if updatecat %}
    <h1 class="text-center mt-5">Update Category</h1>
    <form action="" method="POST">
      <input
        type="text"
        name="category"
        class="form-control"
        value="{{updatecat.name}}"
      />
      <input type="submit" value="Update" class="btn btn-info mt-2" />
    </form>
    <a href="{{url_for('categories')}}"  class="btn btn-info mt-2">Cancel</a>
    {% else %}
  </div>

  {% endif %} {% endblock content%}
</div>
