<table class="table table-md">
  <thead>
    <th>Nr</th>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>Status</th>
    <th>Rate</th>
  </thead>
  <tbody>
    
    {% for customer_order in customer_orders %}
    <div>
    
      <tr>
        <td>{{loop.index}}</td>
        <td>{{customer_order.invoice}}</td>
        <td>{{customer_order.status}}</td>
        <td>
          {% for key, product in customer_order.orders.items() %}
          <p>{{product.name}}</p>
          <p>{{product.price}}</p>
          <img
            src="{{url_for('static',filename='images/'+ product.image)}}"
            alt="{{product.name}}"
            width="100"
            height="100"
          />
            <!-- Rating Form -->
            <hr>
            <h4>Rate this product:</h4>
            <form action="{{ url_for('rate_product' ,invoice=customer_order.invoice, product_id = product.id)}}" method="post">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select class="form-control" name="rating" id="rating">
                        <option value="5">5 stars</option>
                        <option value="4">4 stars</option>
                        <option value="3">3 stars</option>
                        <option value="2">2 stars</option>
                        <option value="1">1 star</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="review">Review:</label>
                    <textarea class="form-control" name="review" id="review" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Rating</button>
            </form>
          {% endfor %}
        </td>
      </tr>
    
    </div>
    {% endfor %}
  </tbody>
</table>
