{% extends 'layout.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li class="alert alert-{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<ul>
    <li><a href="/" >Login as admin</a></li>
    <li>Not a Admin! <a href="/" >Sign Up</a></li>
    <li><a href="/" >Login as admin</a></li>
    <li>Not a customer!<a href="/" >Sign up</a></li>
</ul>

{% endblock content %}